/* This is the CSS to customize the Bootstrap components */


/* This is the CSS to modify the Nav bar */
/* Navigation bar */

/* General */
.customNav {
    position: fixed;
    width: 100%;
    background-color: rgb(128, 123, 123);
    background-size: cover;
    z-index: 10;
    background:linear-gradient(0deg, rgba(134, 94, 118, 0.3), rgba(85, 80, 83, 0.3));
    background-size:cover;
  }
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand {
    margin-left: 10px;
  
  }
  .nav-item {
    margin: 0px 15px;
  }

  

  /* Navigation dropdown menu */
  .dropdown-menu {
    background-color: rgb(128, 123, 123);
    min-height:100%;
    background-size: cover;
  }
  .dropdown-item:focus, .dropdown-item:hover {
      color: rgb(73, 72, 72);
      text-decoration: none;
      
  }
  
  .navCTA {
    font-size: 15px;
  }

/* This is the CSS to modify the Hero Banner */


/* Jumbotron  */
.codeBackground {
    background-image: url(../images/binary-code-background.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(70vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
 
  }
  

  /* Jumbotron copy */
  .jumboCopy {
    width: 70%;
    max-width: 900px;
    color: white;
    text-align: center;
    margin-top: 20px;
    background-size: cover;
    background:linear-gradient(0deg, rgba(134, 94, 118, 0.3), rgba(85, 80, 83, 0.3));

  }



/* This is the CSS to modify the Work section */




/* This is the CSS to modify the Hero About Me section */




/* This is the CSS to modify the Hero Skills section */


#skillsList {
    font-weight: bold;
    text-align: center;
    
}
.skills img {
    width: 150px;
}



/* This is the CSS to modify the Contact */



